<?xml version="1.0"?>
<config>
    <modules>
        <Hevelop_FacebookPixel>
            <version>1.5.2</version>
        </Hevelop_FacebookPixel>
    </modules>
    <global>
        <blocks>
            <hevelop_facebookpixel>
                <class>Hevelop_FacebookPixel_Block</class>
            </hevelop_facebookpixel>
        </blocks>
        <helpers>
            <hevelop_facebookpixel>
                <class>Hevelop_FacebookPixel_Helper</class>
            </hevelop_facebookpixel>
        </helpers>
        <models>
            <hevelop_facebookpixel>
                <class>Hevelop_FacebookPixel_Model</class>
            </hevelop_facebookpixel>
        </models>
        <resources>
            <hevelop_facebookpixel_setup>
                <setup>
                    <module>Hevelop_FacebookPixel</module>
                </setup>
            </hevelop_facebookpixel_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <hevelop_facebookpixel_order_success>
                        <class>hevelop_facebookpixel/observer</class>
                        <method>setFacebookPixelOnOrderSuccessPageView</method>
                    </hevelop_facebookpixel_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <hevelop_facebookpixel_order_success>
                        <class>hevelop_facebookpixel/observer</class>
                        <method>setFacebookPixelOnOrderSuccessPageView</method>
                    </hevelop_facebookpixel_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
            <sales_quote_load_after>
                <observers>
                    <hevelop_facebookpixel_remember_cart_qty>
                        <class>hevelop_facebookpixel/observer</class>
                        <method>rememberCartQuantity</method>
                    </hevelop_facebookpixel_remember_cart_qty>
                </observers>
            </sales_quote_load_after>
            <controller_action_postdispatch_checkout_cart_updatePost>
                <observers>
                    <hevelop_facebookpixel_clear_session_cache>
                        <class>hevelop_facebookpixel/observer</class>
                        <method>clearSessionCartQuantity</method>
                    </hevelop_facebookpixel_clear_session_cache>
                </observers>
            </controller_action_postdispatch_checkout_cart_updatePost>
            <sales_quote_product_add_after>
                <observers>
                    <hevelop_facebookpixel_add_to_cart>
                        <class>hevelop_facebookpixel/observer</class>
                        <method>setFacebookPixelOnCartAdd</method>
                    </hevelop_facebookpixel_add_to_cart>
                </observers>
            </sales_quote_product_add_after>
            <controller_action_postdispatch>
                <observers>
                    <hevelop_facebookpixel_postdispatch>
                        <class>hevelop_facebookpixel/observer</class>
                        <method>facebookPixelPostDispatch</method>
                    </hevelop_facebookpixel_postdispatch>
                </observers>
            </controller_action_postdispatch>
            <sales_quote_remove_item>
                <observers>
                    <hevelop_facebookpixel_cart_remove>
                        <class>hevelop_facebookpixel/observer</class>
                        <method>setFacebookPixelOnCartRemove</method>
                    </hevelop_facebookpixel_cart_remove>
                </observers>
            </sales_quote_remove_item>
            <wishlist_add_product>
                <observers>
                    <hevelop_facebookpixel_add_to_wishlist>
                        <class>hevelop_facebookpixel/observer</class>
                        <method>setFacebookPixelOnWishlistAdd</method>
                    </hevelop_facebookpixel_add_to_wishlist>
                </observers>
            </wishlist_add_product>
            <customer_register_success>
                <observers>
                    <hevelop_facebookpixel_customer_register_success>
                        <class>hevelop_facebookpixel/observer</class>
                        <method>setFacebookPixelOnCustomerRegisterSuccess</method>
                    </hevelop_facebookpixel_customer_register_success>
                </observers>
            </customer_register_success>
        </events>
        <layout>
            <updates>
                <hevelop_facebookpixel>
                    <file>hevelop/facebookpixel.xml</file>
                </hevelop_facebookpixel>
            </updates>
        </layout>
    </frontend>
    <default>
        <hevelopfacebookpixel>
            <general>
                <enabled>0</enabled>
                <pixelid>0</pixelid>
            </general>
        </hevelopfacebookpixel>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hevelopfacebookpixel>
                                            <title>Hevelop - Facebook Pixel</title>
                                        </hevelopfacebookpixel>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
